<h2>Awesome Coders:</h2>
<ul>
  {% for user_hash in site.data.users %}
  {% assign username = user_hash[0] %}
  {% assign user = user_hash[1] %}

  <li>
    {% assign emoji = user.emoji | replace:'+','--' %}
    <div>
      <strong>{{ user.name }}</strong>
      <i class="em em-{{ emoji }}"></i>
    </div>
    <div>
      <a href="https://github.com/{{ username }}">github.com/{{ username }}</a>
    </div>
    <div>
      {{ user.office }}, {{ user.agency }}
    </div>
  </li>
  {% endfor %}
</ul>
